.navContainer {
  position: fixed;
  top: 1rem;
  z-index: 100;
  width: 100%;
}

.categoriesNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  width: max-content;
  padding: 0.5rem 1rem;
  position: relative;
  // margin: 0 auto;
  left: 50%;
  transform: translateX(-65%);

  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;

    li {
      margin: 0 0.5rem;
    }

    &:hover {
      color: #9e6332;
      font-weight: 600;
    }
  }
}
